@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logos-slide-animation {
  animation: slide 40s linear infinite;
}

/* Pause animation on hover */
.logos-slide-animation:hover {
  animation-play-state: paused;
} 